################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/Library-Management-System.sln
/Library-Management-System.vcxproj
/Library-Management-System.vcxproj.filters
*.user
*.filters
/Library-Management-System.vcxproj
